(
    x_offset: 0.0,
    top_inset: 50.0,
    fill_to_bottom: true,
    fill_bottom_margin: 30.0,
    top_strip_sidebar_x: 0.0,
    top_strip_sidebar_y: 18.0,
    top_strip_thin_x: 0.0,
    top_strip_thin_y: 3.0,
    unknown_top_housing_x: 0.0,
    unknown_top_housing_y: 85.0,
    unknown_top_housing_width: -1.0,
    unknown_top_housing_height: -1.0,
    repair_x: 20.0,
    repair_y: 118.0,
    sell_x: 84.0,
    sell_y: 118.0,
    radar_height: 110.0,
    side1_height: 65.0,
    tabs_height: 0.0,
    side2_height: 175.0,
    side3_height: 0.0,
    cameo_inset_x: 21.0,
    cameo_inset_y: 1.0,
    cameo_gap_x: 8.0,
    cameo_width: 60.0,
    cameo_height: 48.0,
    cameo_row_height: 50.0,
)